/* Base Colors */
$color-green: #0C5A4D;
$color-yellow: #DCBF1D;
$color-blue: #379EFD;

/* Material Colors */
$color-black-primary: rgba(0, 0, 0, 0.7);
$color-black-secondary: rgba(0, 0, 0, 0.54);
$color-black-disabled: rgba(0, 0, 0, 0.38);
$color-white-primary: rgba(255, 255, 255, 1);
$color-white-secondary: rgba(255, 255, 255, 0.7);
$color-white-disabled: rgba(255, 255, 255, 0.5);

/* Component Colors */
$color-border: #E0E0E0;