@font-face
{
	font-family: "MyriadPro-Reguler";
	src: url('../../../assets/font/myriadpro-reguler.woff');
}

$font-myriadpro-r: "MyriadPro-Reguler";

$font-size-caption: 11px;
$font-size-body: 14px;
$font-size-subheading: 16px;
$font-size-title: 20px;
$font-size-headline: 24px;
$font-size-display-1: 34px;
$font-size-display-2: 45px;