.ms-btn {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
    border: 1px solid $color-border;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;

    &--rounded {
        border-radius: 4px;
    }

    &--small {
        height: 32px;
        font-size: 11px;
        font-weight: 400;
        padding: 9px 10px;
    }

    &--medium {
        height: 40px;
        font-size: 13px;
        font-weight: 400;
    }

    &--large {
        height: 52px;
        font-size: 14px;
        font-weight: 400;
    }

    &--yellow {
        border-color: $color-yellow;
        background-color: $color-yellow;
        color: #FFFFFF;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        &:hover {
            border-color: darken($color-yellow, 7%);
            background-color: darken($color-yellow, 7%);
        }
    }

    &--blue {
        border-color: $color-blue;
        background-color: $color-blue;
        color: #FFFFFF;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        &:hover {
            border-color: darken($color-blue, 7%);
            background-color: darken($color-blue, 7%);
        }
    }

    &__facebook {
        border-color: #3B5998;
        background-color: #3B5998;
        color: #FFFFFF;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        &:hover {
            border-color: darken(#3B5998, 7%);
            background-color: darken(#3B5998, 7%);
            color: #FFFFFF !important;            
        }

        i {
            font-size: 22px;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    &__google {
        border-color: #DB4437;
        background-color: #DB4437;
        color: #FFFFFF;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        &:hover {
            border-color: darken(#DB4437, 7%);
            background-color: darken(#DB4437, 7%);
            color: #FFFFFF !important;            
        }

        i {
            font-size: 20px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}

.ms-burger {
    position: absolute;
    left: 0;
	background: $color-green;
	outline: none;
	border: 0;
	clear: both;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
	
	span {
		display: block;
		width: 25px;
		height: 2px;
        background: white;

		&:before, &:after {
			content: '';
			display: block;
			width: 25px;
			height: 2px;
			background: white;
			position: relative;
			left: 0;
		}

		&:before {
			top: -8px;
		}

		&:after {
			bottom: -6px;
		}
	}
}