.ms-footer {
    .footer-top {
        color: $color-white-primary;
        background-color: $color-green;
        padding: 20px 0;

        @include breakpoint(medium down) {
            text-align: center;
            padding: 20px 15px;
        }

        .footer__content {

            label {
                display: inline-block;
                color: $color-white-primary;
            }

            input {
                display: inline-block;
                max-width: 300px;
                margin: 0 10px;

                @include breakpoint(medium down) {
                    max-width: 100%;
                    margin: 10px 0;
                 }
            }

            button {
                display: inline-block;
                max-width: 100px;

                @include breakpoint(medium down) {
                    max-width: 100%;
                }
            }
        }
    }

    .footer-bottom {
        color: $color-white-primary;
        background-color: #383637;
        padding: 50px 0;

        .footer__content {
            @include breakpoint(small only) {
                margin-bottom: 25px;
            }

            &--socmed {
                margin-top: 50px;

                @include breakpoint(small only) {
                    margin-top: 25px;
                }
            }
        }

        .footer__links {
            list-style: none;
            margin: 10px 0 0;
            color: $color-white-secondary;

            &--socmed {
                font-size: $font-size-title;

                li {
                    display: inline-block;
                    margin-right: 15px;

                    a {
                        transition: color 0.3s ease;
                        
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
            
            a {
                color: $color-white-secondary;
                transition: color 0.3s ease;

                &:hover {
                    color: $color-yellow;
                }
            }
        }

        .footer__copyrights {
            margin-top: 35px;
            color: $color-white-secondary;

            @include breakpoint(small only) {
                margin-top: 0;
            }
        }
    }

    &__secondary {
        height: 75px;
        padding: 0 15px;

        .footer-left {
            line-height: 75px;

            @include breakpoint(small only) {
                line-height: inherit;
                text-align: center;
            }
        }

        .footer-right {
            @include breakpoint(small only) {
                text-align: center;
            }
        }

        .footer__links--socmed {
            float: right;
            padding: 21px 0;

            @include breakpoint(small only) {
                float: none;
                display: inline-flex;
                padding: 11px 0;
            }

            li {
                margin-right: 5px;

                &:last-child {
                    margin-right: 0;
                }
                
                a {
                    display: block;
                    height: 32px;
                    width: 32px;
                    line-height: 35px;
                    border-radius: 3px;
                    background-color: $color-blue;
                    color: $color-white-primary;
                    font-size: 18px;
                    text-align: center;
                    padding: 0;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: darken($color-blue, 7%);
                    }
                }
            }
        }
    }
}