.ms-form__group {
    margin-bottom: 20px;
}

.ms-input-group {
    margin-bottom: 0;

    &__label {
        font-size: 13px;
        color: $color-white-primary;
        border: 1px solid $color-green-lighten;        
        background-color: $color-green-lighten;
        border-radius: 3px 0 0 3px !important;
    }

    &__field {
        height: 40px;
        border-radius: 0 3px 3px 0;
        border: 1px solid $color-border;
        color: $color-black-primary;
        box-sizing: border-box;
        box-shadow: none;
        text-transform: capitalize;
        padding: 10px;
        margin: 0;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: $color-green;
            outline: none;
            box-shadow: none;
        }
    }
}

.ms-label {
    font-size: $font-size-body;
    color: $color-black-primary;
    margin: 0 !important;
    line-height: 40px;

    &--textarea {
        line-height: 60px;
    }
}

.ms-input {
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid $color-border;
    color: $color-black-primary;
    box-sizing: border-box;
    box-shadow: none;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: $color-green;
        outline: none;
        box-shadow: none;
    }

    &--small {
        padding: 5px 10px;
        height: 32px;
        font-size: 11px;
    }

    &--medium {
        height: 40px;
        font-size: 13px;
    }

    &--large {
        height: 52px;
        font-size: 14px;
    }
}

.ms-select {
    width: 100%;
    text-transform: capitalize;
    margin: 0;
    border-radius: 3px;
    border: 1px solid $color-border;
    color: $color-black-primary;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: $color-green;
        outline: none;
        box-shadow: none;
    }

    &--small {
        padding: 5px 10px;
        height: 32px;
        font-size: 11px;
    }

    &--medium {
        height: 40px;
        font-size: 13px;
    }

    &--large {
        height: 52px;
        font-size: 14px;
    }
}

.ms-textarea {
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid $color-border;
    color: $color-black-primary;
    box-sizing: border-box;
    box-shadow: none;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: $color-green;
        outline: none;
        box-shadow: none;
    }

    &--small {
        padding: 5px 10px;
        height: 52px;
        font-size: 11px;
    }

    &--medium {
        height: 60px;
        font-size: 13px;
    }

    &--large {
        height: 72px;
        font-size: 14px;
    }
}

.ms-radio-custom {
    height: 40px;
    line-height: 40px;

    input[type=radio]:checked + .ms-label-radio > .ms-radio-dot {
        display: block;
    }
    input[type=radio] {
        display: none;
    }

    .ms-radio-dot {
        position: absolute;
        top: 7px;
        left: 4px;
        height: 12px;
        width: 12px;
        background: $color-green-lighten;
        border-radius: 50%;
        display: none;
    }

    .ms-label-radio {
        position: relative;
        font-size: 14px;
        margin: 0 20px 0 0;

        @include breakpoint(small only) {
            display: block;
            margin: 0 0 10px 0;
        }

        &::before {
            content: "";
            display: inline-block;
            height: 20px;
            width: 20px;
            border: 2px solid $color-border;
            border-radius: 999px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}