/* Recharge Plugins */
.slick-slide:focus {
    outline: none;
}

.slick-dots {
    bottom: -40px !important;
}


.slick-dots li button:before {
    font-size: 12px !important;
    color: $color-blue !important;
    opacity: 0.3 !important;
}

.slick-dots li.slick-active button:before {
    color: $color-blue !important;
    opacity: 1 !important;
}

.slick-arrow {
    height: 35px !important;
    width: 35px !important;
    background-color: $color-blue !important;
    border-radius: 999px !important;
    z-index: 2;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.slick-prev {
    left: -2px !important;

    &::before {
        content: "\f104" !important;
        font-size: 22px !important;
        font-family: FontAwesome !important;
        color: $color-white-primary !important;
    }
}

.slick-next {
    right: -2px !important;

    &::before {
        content: "\f105" !important;
        font-size: 22px !important;
        font-family: FontAwesome !important;
        color: $color-white-primary !important;
    }
}

.slick-prev,
.slick-next {
    &:hover {
        background-color: darken($color-blue, 7%) !important;
    }
}

.select2 {
    width: 100% !important;
}

.select2-selection {
    border: 1px solid $color-border !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    
    &:focus {
        outline: none !important;
        border-color: $color-blue !important;
    }

    .select2-selection__rendered {
        color: $color-black-secondary !important;
        height: 40px !important;
        line-height: 40px !important;
        font-size: 14px !important;
        padding: 0 10px !important;
    }
    
    .select2-selection__arrow {
        right: 5px !important;
        height: 40px !important;
    }
}

.select2-container .select2-selection--single {
    height: 40px !important;    
}

.select2-dropdown {
    top: 5px !important;
    border: 1px solid $color-border !important;
    z-index: 10 !important;
}

.select2-search__field {
    border: 1px solid $color-border !important;
    margin-bottom: 5px !important;
}

.select2-selection__placeholder {
    color: $color-black-secondary !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $color-blue !important;
}

.select2-results__group {
    font-size: 16px;
}
/* end of Recharge Plugins */

/* Signpage */
.ms-section__sign {
    padding: 25px 0;
    
    .sign__title {
        font-size: $font-size-headline;
        margin-bottom: 10px;
    }

    .sign__desc {
        color: $color-black-secondary;

        a {
            &:hover {
                color: darken($color-green, 7%);
            }
        }
    }

    .sign__form {
        margin-top: 35px;
        width: 100%;

        &-group {
            position: relative;

            i.trigger-show-password {
                position: absolute;
                top: 13px;
                right: 13px;
                color: $color-green;
                cursor: pointer;
            }

            a:hover {
                color: darken($color-green, 7%);
            }

            .ms-radio-custom {
                .ms-label-radio {
                    @include breakpoint(small only) {
                        display: inline-block;
                    }
                }

                .ms-label-radio__male {
                    @include breakpoint(small only) {
                        margin-right: 25px !important;
                    }
                }
            }
        }

        &-birth {
            label {
                margin-bottom: 5px;
            }

            .ms-select__birth--month {
                @include breakpoint(small only) {
                    margin: 10px  0;
                }
            }
        }
    }
}
/* end of Signpage */

/* Page Not Found */
.ms-section__fzf {
    padding: 75px 0;

    .ms-fzf__title {
        font-size: $font-size-display-2;
        margin: 20px 0 0;
    }

    .ms-fzf__desc {
        font-size: $font-size-title;
    }

    .ms-fzf__link {
        font-size: $font-size-body;
        color: $color-green;

        &:hover {
            color: darken($color-green, 7%);
        }
    }
}
/* end of Page Not Found */

/* Frontpage */
.ms-section__services,
.ms-section__gogreen,
.ms-section__gogreen {
    padding: 25px 0;
}

.ms-section__services {    
    .service {
        &__container {
            position: relative;
            height: 150px;

            @include breakpoint(small up) {
                margin-bottom: 50px;
            }

            a {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }

            img {
                margin-bottom: 15px;
            }
        }

        &__title {
            font-size: $font-size-headline;
            color: $color-black-primary;
            margin-bottom: 35px;
        }

        &__feature {
            display: block;
            font-size: $font-size-title;
            color: $color-black-primary;
        }
    }
}

.ms-section__our-hero {
    padding: 25px;

    @include breakpoint(small only) {
        padding: 25px 0;
    }
}

.our-hero {
    &__title {
        font-size: $font-size-headline;
        color: $color-black-primary;
        margin-bottom: 35px;
    }

    &__card--wrapper {
        padding: 0 15px;

        @include breakpoint(small only) {
            padding: 0 0.625rem;
        }
    }

    &__card {
        position: relative;
        cursor: pointer;

        &:hover::before {
            height: calc(100% - 210px);
            opacity: 0.3;

            @include breakpoint(small only) {
                height: calc(100% - 310px);                
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 40px;
            display: block;
            background: #003F60;
            background: -moz-linear-gradient(#003F60 0%, #148E11 100%);
            background: -webkit-linear-gradient(#003F60 0%,#148E11 100%);
            background: linear-gradient(#003F60 0%,#148E11 100%);
            opacity: 0.5;
            height: calc(100% - 40px);
            width: 100%;
            transition: height 0.3s ease, opacity 0.3s ease;                
        }

        &:hover > .our-hero__profile {
            bottom: 45px;
        }

        &:hover > .our-hero__profile > .our-hero__rate {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
        }

        &__container {
            margin-bottom: 20px;
        }
    }

    &__img {
        max-height: 250px;
        height: 100%;
        object-fit: cover;
        width: 100% !important;

        @include breakpoint (small only) {
            max-height: 350px;
        }
    }

    &__profile {
        position: absolute;
        bottom: 20px;
        left: 0;
        padding: 0 15px;
        width: 100%;
        color: $color-white-primary;
        transition: bottom 0.3s ease;
    }

    &__rate {
        margin-top: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity ease, visibility ease;
    }

    &__state {
        position: absolute;
        right: 0;
    }

    &__campaign {
        &--wrapper {
            margin-top: 35px !important;
            color: $color-black-primary;                

            .campaign__title {
                font-size: $font-size-title;
            }

            .campaign__desc {
                font-size: $font-size-subheading;                    
            }
        }
    }
}

.ms-section__gogreen {
    padding-bottom: 0;
    
    .gogreen {
        &__title {
            font-size: $font-size-headline;
            color: $color-black-primary;
            margin-bottom: 35px;
        }

        &__card--wrapper {
            position: relative;
            overflow: hidden;
            cursor: pointer;

            .gogreen__card-overlay {
                position: absolute;
                bottom: 0;
                opacity: 0.5;
                height: 100%;
                width: 100%;
                z-index: 2;
                background: linear-gradient(#003F60 0%, #148E11 100%);
                transition: opacity 0.3s ease;
            }

            .gogreen__card-cta {
                position: absolute;
                bottom: 0%;
                left: 50%;
                color: $color-white-primary;
                z-index: 3;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%, -15%);
                transition: opacity 0.3s ease, visibility 0.3s ease;

                @include breakpoint(small only) {
                    width: 90%;
                }
            }

            img {
                z-index: 1;
                transition: transform 0.3s ease;
            }
        }

        &__card--wrapper:hover > .gogreen__card-overlay {
            opacity: 0.75;
        }

        &__card--wrapper:hover > .gogreen__card-cta {
            opacity: 1;
            visibility: visible;
        }

        &__card--wrapper:hover > .gogreen__card-content {
            opacity: 0;
            visibility: hidden;
        }

        &__card--wrapper:hover > img {
            transform: scale(1.1);
        }

        &__card-content {
            position: absolute;
            bottom: 0;
            opacity: 1;
            visibility: visible;
            z-index: 3;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        &__card-title {
            color: $color-white-primary;
            padding: 15px 10px;
            margin: 0;
            font-size: $font-size-title;
        }
    }
}

.ms-section__zerowaste {
    padding: 100px 0;
    color: $color-black-primary;
    background: {
        image: url('../img/bg-zero-waste_mallsampah.png');
        size: contain;
        repeat: no-repeat;
        position: right;
    }

    @include breakpoint(medium down) {
        padding: 50px 0;
        background: none;
        text-align: center;
    }

    .zerowaste {
        &__title {
            font-size: $font-size-display-1;

            @include breakpoint(medium down) {
                font-size: $font-size-headline;            
            }
        }

        &__desc {
            font-size: $font-size-title;
            margin: 35px 0;
        }
    }
}
/* end of Frontpage */

/* Zero Waste */
.ms-section__zerowaste-front {
    .zerowaste-front__title {
        color: $color-white-primary;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .zerowaste__category--wrapper {
        position: relative;
        text-align: center;
        height: 650px;
        overflow: hidden;

        @include breakpoint(medium down) {
            height: 500px;
        }

        &:hover > .zerowaste__img {
            transform: scale(1.1);
        }

        .zerowaste__category {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .zerowaste__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: transform 0.3s ease;
    }

    .zerowaste__title {
        color: $color-white-primary;
        font-size: $font-size-display-1;
    }

    .zerowaste__pricelist--wrapper {
        width: 350px;
        background: rgba(255, 255, 255, 0.8);
        margin: 15px auto 0;
        padding: 25px;
        color: $color-black-primary;

        @include breakpoint(medium down) {
            width: 100%;
        }

        .zerowaste__price {
            font-size: $font-size-display-1;
            
            small {
                color: $color-black-primary;
                font-size: $font-size-subheading;
            }

            &-label {
                font-size: $font-size-body;
            }
        }

        .ms-btn {
            margin: 20px 0;
            width: 200px;
        }

        .zerowaste__variant-label {
            font-size: $font-size-body;
            margin-bottom: 5px;
        }
    }
}

.ms-form__zerowaste--wrapper {
    padding: 35px 0;
    color: $color-black-primary;

    .ms-form__location--wrapper {
        .ms-form__location:nth-child(2) {
            @include breakpoint(small only) {
                margin: 15px auto;
            }
        }
    }

    .ms-form {
        margin-top: 25px;

        &__amount--wrapper {
            padding: 25px;
            background-color: $color-green-lighten;
            color: $color-white-primary;

            @include breakpoint(small only) {
                margin-top: 100px;
            }

            small {
                font-size: 13px;
            }
        }

        &__amount-content {
            font-size: $font-size-subheading;
        }

        &__amount-val {
            font-size: $font-size-display-1;
        }
    }

    .ms-form__title {
        font-size: $font-size-title;
    }

    .ms-form__subtitle {
        font-size: $font-size-title;
        margin-bottom: 25px;
    }

    .ms-form__container {
        padding: 0 50px;
        margin-top: 25px;

        @include breakpoint(small only) {
            padding: 0;
        }

        .ms-form__desc {
            font-size: $font-size-subheading;
        }
    }
}
/* end of Zero Waste */

/* Features */
.ms-gogreen {
    &--wrapper {
        padding: 25px 0;
        background-color: #F5F6FA;

        .gogreen__btn--back {
            color: $color-black-disabled;
            transition: color 0.3s ease;

            &:hover {
                color: $color-green;
            }
        }

        .gogreen__heading {
            font-size: $font-size-display-1;
        }
    }

    &__content {
        padding: {
            top: 35px;
            bottom: 35px;
        }

        .gogreen__title {
            font-size: $font-size-headline;
        }

        .gogreen__desc {
            margin: {
                top: 10px;
                bottom: 25px;
            }
        }
    }
}

.ms-feature {
    &__banner {
        background: {
            image: url('https://www.mallsampah.com/assets/img/banner/hero-banner-aboutus1_mallsampah.jpg');
            size: cover;
            position: center center;
            repeat: no-repeat;
            attachment: fixed;
        }
        width: 100%;
        height: 350px;

        @include breakpoint(small only) {
            height: 250px;
        }

        &:after {
            content: "";
            display: block;
            background: linear-gradient(#003F60 0%, #148E11 100%);
            height: 100%;
            width: 100%;
            opacity: 0.75;
        }
    }

    &__header {
        color: $color-white-primary;
        z-index: 1;
    }

    &__title {
        font-size: $font-size-display-1;
    }

    &__menu:nth-child(2) {
        @include breakpoint(small only) {
            margin: {
                top: 10px;
                bottom: 10px;
            }
        }
    }

    &__content {
        background-color: #FFFFFF;
        padding: 25px;
        margin: {
            top: 25px;
            bottom: 50px;
        }
        border-radius: 3px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.25);
        z-index: 1;

        &--wrapper {
            margin-top: -150px;
        }
    }
}
/* end of Features */

/* Search List */
.ms-not-found {
    &__container {
        padding: 15px 0;
    }

    &__title {
        font-size: $font-size-display-1;
        margin-bottom: 10px;

        @include breakpoint(small only) {
            font-size: $font-size-headline;
        }
    }

    &__desc {
        font-size: $font-size-subheading;
    }
}

.ms-section__search {
    padding: 50px 25px 25px;

    @include breakpoint(small only) {
        padding: 15px 0;
    }

    .search-list__title {
        font-size: $font-size-headline;
    }

    .search-list__container {
        margin: {
            top: 25px;
            bottom: 40px;
        }
    }

    &-cta {
        padding: 0 25px 75px;

        @include breakpoint(medium down) {
            padding: 0 15px 50px;
            text-align: center;
        }

        .search-cta__container {
            padding-top: 25px;
            border-top: 1px solid $color-border;
        }

        .search-cta__title {
            font-size: $font-size-display-1;

            @include breakpoint(medium down) {
                font-size: $font-size-headline;
            }
            
            small {
                display: block;
                margin-top: -10px;
            }
        }

        .search-cta__desc {
            font-size: $font-size-headline;
            margin: 25px 0;

            @include breakpoint(medium down) {
                font-size: $font-size-title;
            }
        }
    }
}

.ms-card {
    &--wrapper {
        display: block;
        padding: 0 15px;

        @include breakpoint(small only) {
            padding: 0 0.625rem;
        }
    }

    &__container {
        margin-bottom: 20px;
        border: 1px solid $color-border;
        cursor: pointer;

        &:hover > .ms-card-img__container > .card-img__overlay {
            opacity: 0.5;
        }

        .card-title {
            color: $color-black-primary;
        }

        .card-price {
            color: $color-red;
            margin-bottom: 5px;
        }

        .card-caption {
            color: $color-black-disabled;
            font-size: $font-size-caption;
        }

        .card-store {
            color: #64ABCF;
            margin-bottom: 3px;
        }

        .card-location {
            color: $color-black-disabled;
        }

        .card-rate {
            margin-top: 5px;
        }

        .card-state {
            position: absolute;
            right: 0;
        }
    }

    &-img__container {
        position: relative;

        img {
            height: 250px;
            width: 100%;
            object-fit: cover;

            @include breakpoint(small only) {
                height: 325px;
            }
        }

        .card-img__overlay {
            display: block;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background: #003F60;
            background: -moz-linear-gradient(#003F60 0%, #148E11 100%);
            background: -webkit-linear-gradient(#003F60 0%,#148E11 100%);
            background: linear-gradient(#003F60 0%,#148E11 100%);
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &-content__container {
        padding: 10px;
        font-size: $font-size-subheading;      
        border: {
            top: 1px solid $color-border;
            bottom: 1px solid $color-border;                
        }      
    }

    &-info__container {
        padding: 10px;
    }
}
/* end of Search List */

/* Detail Product */
.ms-detail {
    &__container {
        padding: 25px;

        @include breakpoint(small only) {
            padding: 15px 0;
        }
    }

    &__title {
        font-size: $font-size-headline;
    }

    &__content--wrapper {
        margin: 25px 0;
    }

    &__image {
        &-nav {
            margin-top: 15px;

            .slick-track {
                margin: 0;

                @include breakpoint(small only) {
                    width: 100% !important;
                    margin: 0 auto 25px;
                }
            }
        }

        &--small {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 5px;
            width: auto !important;

            img {
                height: 75px;
                width: 75px;
                object-fit: cover;
            }
        }

        &--large {
            z-index: 3 !important;

            img {
                height: 480px;
                width: 100%;
                object-fit: cover;

                @include breakpoint(small only) {
                    height: 325px;
                }
            }
        }
    }

    &__info {
        @include breakpoint(small only) {
            text-align: center;
        }
    }

    &__avatar {
        margin-bottom: 10px;
        height: 100px;
        width: 100px;
        object-fit: cover;

        @include breakpoint(small only) {
            display: block;
            margin: 0 auto 10px;
        }
    }

    &__rate {
        display: inline-flex;

        &-announcement {
            margin: 25px 0;
            padding: 25px 0;
            border: {
                top: 1px solid $color-border;
                bottom: 1px solid $color-border;
            }

            .rate-result {
                border-right: 1px solid $color-border;

                @include breakpoint(small only) {
                    margin-bottom: 25px;
                }
            }

            .rate-number--large {
                font-size: $font-size-display-2;
            }

            .rate-rates {
                margin-bottom: 10px;
            }

            .rate-progress--wrapper {
                color: $color-black-secondary;

                &:hover {
                    background-color: lighten($color-blue, 35%);
                }
            }
        }
    }

    &__name {
        font-size: $font-size-headline;
        color: $color-blue;
        margin-bottom: 5px;

        &-hero {
            margin-bottom: 0;

            @include breakpoint(small only) {
                margin-top: 25px;
            }
        }
    }

    &__address {
        p {
            display: block;
            margin-bottom: 0;
        }

        p:nth-child(2) {
            margin-top: 10px;
        }
    }

    &__product {
        padding: {
            top: 15px;
            bottom: 15px;
        }

        margin: {
            top: 15px;
            bottom: 15px;
        }

        border: {
            top: 1px solid $color-border;
            bottom: 1px solid $color-border;
        }

        &--name {
            font-size: $font-size-headline;

            @include breakpoint(small only) {
                text-align: center;
            }
        }

        &--price {
            color: $color-red;
            font-size: $font-size-title;

            @include breakpoint(small only) {
                text-align: center;
            }
        }

        &--stock {
            margin-top: 10px;
        }
    }

    &__additional {
        .ms-detail__contact {
            margin-bottom: 25px;

            li > a {
                display: inline-block;
            }
        }
    }

    &__socmed {
        margin-top: 10px;

        a {
            padding: 0;
            margin-right: 5px;
            font-size: $font-size-subheading;
            height: 30px;
            width: 30px;
            line-height: 35px;
            text-align: center;
            background-color: $color-blue;
            color: $color-white-primary;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($color-blue, 7%);
            }
        }
    }

    &__related {

        .related__container {
            margin: {
                top: 25px;
                bottom: 50px;
            }

            @include breakpoint(small only) {
                margin-bottom: 100px !important;
            }
        }

        .related__title {
            font-size: $font-size-headline;
        }
    }

    &__state {
        margin-right: 5px;
    }

    &-hero__rate {
        margin: 15px 0;
    }
}
/* end of Detail Product */

/* Setting Shop */
.ms-setting__shop {
    padding: 25px 0;

    .shop-img-upload__container {
        display: inline-block;
        margin: 0;
        height: 135px;
        width: 135px;
        cursor: pointer;

        .fa-image {
            font-size: 30px;
        }

        .ms-input__file {
            height: 135px;
            width: 135px;
        }
    }

    .shop-add-img-upload {
        display: flex;
        align-items: center;

        h1 {
            font-size: $font-size-display-2;
            width: 100%;
        }
    }

    .setting-shop {
        &__info--wrapper {
            @include breakpoint(small only) {
                text-align: center;
            }

            .ms-tabs {
                @include breakpoint(small only) {
                    display: inline-block;
                }

                a {
                    @include breakpoint(small only) {
                        padding: 12px;
                    }
                }
            }
        }

        &__avatar {
            @include breakpoint(small only) {
                margin-bottom: 25px;
            }
        }

        &__name {
            font-size: $font-size-headline;
        }

        &__address {
            font-size: $font-size-subheading;
            margin: 10px 0;
        }

        &__content {
            padding: 25px 50px;
        }
    }

    .tabs-shop {
        &__content {
            padding: 50px;

            @include breakpoint(small only) {
                padding: 25px;
            }

            .ms-btn__add {
                @include breakpoint(small only) {
                    margin-bottom: 25px;
                }
            }

            .ms-btn--red {
                @include breakpoint(small only) {
                    margin-top: 10px;
                }
            }

            .ms-form__location {
                @include breakpoint(small only) {
                    margin-bottom: 10px;
                }
            }
        }

        &__title {
            font-size: $font-size-headline;     
            margin-bottom: 25px;       
        }

        &__form-group {
            font-size: $font-size-subheading;
        }

        &__form-label {
            @include breakpoint(small only) {
                font-weight: 600;
            }
        }

        &__form-val {
            padding-left: 10px;

            @include breakpoint(small only) {
                padding-left: 0;
            }

            &::before {
                content: ":";
                position: relative;
                left: -10px;

                @include breakpoint(small only) {
                    display: none;
                }
            }
        }

        &-form__add {
            display: none;
            margin-bottom: 35px;
            border-bottom: 1px solid $color-border;
        }

        &-our-product {
            .our-product__card {
                overflow: hidden;

                &:hover::before {
                    height: calc(100% - 141px) !important;
                }

                &::before {
                    height: 100%;
                    bottom: 0;
                }

                &:hover > .our-product__detail {
                    opacity: 1;
                }
            }
            .our-product__img {
                height: 215px;
            }

            .our-product__detail {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 10px;
                color: $color-white-primary;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            .our-product__link {
                a {
                    color: $color-white-primary;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .our-product__title {
                font-size: $font-size-title;
            }
        }
    }
}
/* end of Setting Shop */