<footer class="ms-footer__secondary">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell footer-left">© 2015 - 2017, PT Mall Sampah Indonesia</div>
            <div class="medium-6 cell footer-right">
                <ul class="menu clearfix footer__links--socmed">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>