<header class="ms-header">
    <div class="ms-overlay"></div>
    
    <div class="ms-drawer show-for-small-only">
        <div class="ms-drawer__header">
            <strong>Menu</strong>
        </div>
        <ul class="menu vertical ms-drawer__menu">
            <li><a href="https://www.mallsampah.com/pengaturan/toko"><i class="fa fa-home"></i> Buka Toko</a></li>
            <li><a href="https://www.mallsampah.com/pengaturan/akun"><i class="fa fa-gear"></i> Pengaturan Akun</a></li>
            <li><a href="https://www.mallsampah.com/user/globallogin"><i class="fa fa-sign-in"></i> Masuk</a></li>
            <li><a href="https://www.mallsampah.com/user/register"><i class="fa fa-pencil-square-o"></i> Daftar</a></li>
            <li><a href="https://www.mallsampah.com/user/logout"><i class="fa fa-sign-out"></i> Keluar</a></li>
        </ul>

        <div class="ms-drawer__menu-group">
            <strong>Layanan Lainnya</strong>
            <ul class="menu vertical ms-drawer__menu">
                <li><a href="#">Blog</a></li>
                <li><a href="https://www.mallsampah.com/tentang-kami">Tentang</a></li>
                <li><a href="#">Layanan</a></li>
            </ul>
        </div>
    </div>

    <div class="grid-container">
        <div class="top-bar ms-top-bar">

            <div class="top-bar-left">
                <button type="button" class="show-for-small-only ms-burger">
                    <span></span>
                </button> 
                
                <a href="https://www.mallsampah.com">
                    <img src="./assets/img/logo-white-noicon_mallsampah.png" alt="Logo Mallsampah" width="125">
                </a>
            </div>
            <div class="hide-for-small-only top-bar-right">
                <ul class="dropdown menu ms-top-bar__menu" data-dropdown-menu>
                    <li><a target="_blank" href="#">Layanan</a></li>
                    <li><a target="_blank" href="#">Blog</a></li>
                    <li><a target="_blank" href="https://www.mallsampah.com/tentang-kami">Tentang</a></li>
                    
                    <!-- Use this if user not yet loggedin -->
                    <!-- <li><a href="https://www.mallsampah.com/user/globallogin">Masuk</a></li>
                    <li><a class="ms-btn ms-btn--rounded ms-btn--small ms-btn--yellow" href="https://www.mallsampah.com/user/register">Daftar</a></li> -->

                    <!-- Use this if user already loggedin -->
                    <li class="ms-top-bar__account--wrapper">
                        <a class="ms-top-bar__account" href="#">
                            Akun
                        </a>
                        <ul class="menu ms-dropdown__menu">
                            <li><a href="#">Buka Toko</a></li>
                            <li><a href="#">Pengaturan Akun</a></li>
                            <li><a href="#">Keluar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>