<section class="ms-search__filter--wrapper">
    <div class="grid-container fluid ms-grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-4 cell ms-filter__services--wrapper">
                <p class="ms-filter__title">Layanan</p>
                <div class="grid-x text-center ms-btn__group">
                    <a class="medium-4 cell ms-btn__group-item active">
                        Produk
                    </a>
                    <a class="medium-4 cell ms-btn__group-item">
                        Pemulung
                    </a>
                    <a class="medium-4 cell ms-btn__group-item">
                        Pengepul
                    </a>
                </div>
            </div>
            <div class="medium-4 cell ms-filter__location--wrapper">
                <p class="ms-filter__title">Lokasi</p>
                <select class="ms-filter__select-two" name="state">
                    <option value="" selected="true" disabled="disabled">Pilih Lokasi</option>
                    <optgroup label="Sulawesi Selatan">
                        <option value="Mariso">Makassar - Kecamatan Mariso</option>
                        <option value="Mamajang">Makassar - Kecamatan Mamajang</option>
                        <option value="Tamalate">Makassar - Kecamatan Tamalate</option>
                        <option value="Bacukiki">Parepare - Kecamatan Bacukiki</option>                        
                        <option value="Ujung">Parepare - Kecamatan Ujung</option>
                        <option value="Soreang">Parepare - Kecamatan Soreang</option>
                    </optgroup>
                </select>
            </div>
            <div class="medium-4 cell ms-filter__search--wrapper">
                <p class="ms-filter__title">Cari</p>
                <div class="grid-x">
                    <div class="small-10 cell">
                        <input type="text" class="ms-filter__input" placeholder='Coba Botol "Hias"' />
                    </div>
                    <div class="small-2 cell">
                        <button class="text-center ms-filter__btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-padding-x ms-filter__category--wrapper">
            <div class="medium-2 large-1 cell">
                <p class="ms-filter__category-label">Kategori:</p>
            </div>
            <div class="medium-10 large-11 cell">
                <div class="grid-x grid-padding-x small-up-1 medium-up-3 large-up-4">
                    <div class="cell">
                        <a class="ms-filter__category active" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/hiasan.png" alt="">
                            Hiasan
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/aksesoris.png" alt="">
                            Aksesoris
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/kebutuhan-rumah.png" alt="">
                            Perlengkapan Rumah
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/cenderamata.png" alt="">
                            Cinderamata
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/mainan.png" alt="">
                            Mainan
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/kebutuhan-kantor.png" alt="">
                            Perlengkapan Kantor
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/furniture.png" alt="">
                            Furniture
                        </a>
                    </div>
                    <div class="cell">
                        <a class="ms-filter__category" href="#">
                            <img class="ms-filter__category-icon" src="https://www.mallsampah.com/assets/img/icon-jenis-sampah/fashion.png" alt="">
                            Fashion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>