<div class="ms-search__filter--wrapper">
    <div class="grid-container fluid ms-grid-container">
        <div class="grid-x grid-padding-x ms-filter__container">
            <div class="medium-auto cell ms-filter__item">
                <label for="layanan">Layanan</label>
                <select name="layanan" id="layanan" class="ms-filter__select">
                    <option value="" selected="true" disabled="disabled">Pilih Layanan</option>
                    <option value="">Produk</option>
                    <option value="">Pengepul</option>
                    <option value="">Pemulung</option>
                </select>
            </div>
            <div class="medium-auto cell ms-filter__item">
                <label for="kategori">Kategori</label>
                <select name="kategori" id="kategori" class="ms-filter__select">
                    <option value="" selected="true" disabled="disabled">Semua Kategori</option>
                    <option value="">Hiasan</option>
                    <option value="">Mainan</option>
                    <option value="">Aksesoris</option>
                    <option value="">Perlengkapan Kantor</option>
                    <option value="">Perlengkapan Rumah</option>
                    <option value="">Furniture</option>
                    <option value="">Cenderamata</option>
                    <option value="">Fashion</option>
                </select>
            </div>
            <div class="medium-auto cell ms-filter__item">
                <label for="cari">Cari</label>
                <input type="text" id="cari" class="ms-truncate ms-filter__input" placeholder='Coba "Botol Hias"' />
            </div>
            <div class="medium-auto cell ms-filter__item">
                <label for="lokasi">Lokasi</label>
                <select class="js-example-basic-single" name="state">
                    <option value="" selected="true" disabled="disabled">Pilih Lokasi</option>
                    <optgroup label="Sulawesi Selatan">
                        <option value="Mariso">Makassar - Kecamatan Mariso</option>
                        <option value="Mamajang">Makassar - Kecamatan Mamajang</option>
                        <option value="Tamalate">Makassar - Kecamatan Tamalate</option>
                        <option value="Bacukiki">Parepare - Kecamatan Bacukiki</option>                        
                        <option value="Ujung">Parepare - Kecamatan Ujung</option>
                        <option value="Soreang">Parepare - Kecamatan Soreang</option>
                    </optgroup>
                </select>

            </div>
            <div class="medium-auto cell ms-filter__item">
                <button type="button" class="ms-btn ms-btn--rounded ms-btn--medium ms-filter__btn">Cari</button>
            </div>
        </div>
    </div>
</div>