<section class="ms-section__search-cta">
    <div class="grid-container fluid ms-grid-container search-cta__container">
        <div class="grid-x grid-padding-x">
            <div class="medium-12 large-5 cell">
                <p class="ms-no-margin search-cta__title">
                    <strong>
                        Buka Toko Gratis
                        <small>#ProdukHijau</small>
                    </strong>
                </p>
                <p class="search-cta__desc">
                    Buka Toko gratis di MallSampah, tingkatkan penjualan Anda untuk produk daur ulang dan produk
                    ramah lingkungan, mudahkan orang menemukan produk Anda untuk kebutuhan mereka.
                </p>
                <div class="grid-x">
                    <div class="small-12 medium-12 large-4 cell">
                        <a href="#" class="ms-btn ms-btn--medium ms-btn--blue">Buka Toko</a>
                    </div>
                </div>
            </div>

            <div class="show-for-large large-7 cell">
                <img src="https://placehold.it/1200x655/CCC?text=Produk-Hijau" alt="">
            </div>
        </div>
    </div>
</section>