{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Mallsampah</title>
    <!-- SEO Here -->
    <meta name="title" content="{{meta-title}} | Mallsampah" />
    <meta name="description" content="{{meta-description}}" />
    <meta name="author" content="{{meta-title}} | Mallsampah">
    <meta property="article:publisher" content="{{meta-description}}">
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content=""/>
    <!-- FAVICON Here -->
    <link rel="icon" type="image/png" href="https://mallsampah.com/assets/img/icons/icon-ms.png">
    <!-- CSS Here -->
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    {{#ifpage 'home'}}
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <style>
    @keyframes loader {
      0% {
        letter-spacing: -10px;
        opacity: 0;
      }

      50% {
        letter-spacing: 3px;
        opacity: 1;
        color: #0C5A4D;
      }

      100% {
        letter-spacing: 0;
        opacity: 0;
      }
    }

    .ms-loader {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: white;
        z-index: 15;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    .ms-loader__title {
        width: 100%;
        font-size: 34px;
        opacity: 0;
        animation: loader 3s ease infinite;
    }
    </style>
    {{/ifpage}}

    {{#ifpage 'product-list' 'our-hero-list' 'search-not-found'}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    {{/ifpage}}

    {{#ifpage 'product-detail' 'our-hero-detail'}}
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    {{/ifpage}}

  <body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{#ifpage 'register' 'login'}}
      {{> header-secondary}}
      {{> body}}
      {{> footer-secondary}}
    {{/ifpage}}

    {{#unlesspage 'register' 'login'}}
      {{> header}}
      {{> body}}
      {{> footer}}
    {{/unlesspage}}

    <script src="{{root}}assets/js/app.js"></script>

    {{#ifpage 'home'}}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function(){

        $(window).load(function() {
          $(".ms-loader").fadeOut();
        });

        $('.ms-reveal__btn--close').click(function () {
          $('html, body').removeClass('is-reveal-open');
          $('.reveal-overlay').addClass('fade-out mui-leave mui-leave-active');
          $('.ms-reveal').addClass('slide-out-up mui-leave mui-leave-active');
          setTimeout(function () {
              $('.reveal-overlay').removeClass('fade-out mui-leave mui-leave-active');
              $('.ms-reveal').removeClass('slide-out-up mui-leave mui-leave-active');
              $('.reveal-overlay').css('display','none');
          }, 100);
        });

        $('.our-hero__container').slick({
          lazyLoad: 'ondemand',
          infinite: true,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                infinite: true
              }
            },
            {
              breakpoint: 640,
              settings: {
                arrows: false,
                dots: true,
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
    </script>
    {{/ifpage}}

    {{#ifpage 'product-list' 'our-hero-list' 'search-not-found'}}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.ms-filter__select-two').select2({
          placeholder: 'Pilih Lokasi'
        });
      });
    </script>
    {{/ifpage}}

    {{#ifpage 'product-detail' 'our-hero-detail'}}
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.ms-detail__image--wrapper').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          asNavFor: '.ms-detail__image-nav',
        });

        $('.ms-detail__image-nav').slick({
          slidesToShow: 5,
          slidesToScroll: 1,
          asNavFor: '.ms-detail__image--wrapper',
          centerMode: false,
          focusOnSelect: true
        });

        $('.related__container').slick({
          lazyLoad: 'ondemand',
          infinite: true,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                infinite: true
              }
            },
            {
              breakpoint: 640,
              settings: {
                arrows: false,
                dots: true,
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                arrows: false,
                dots: true,
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
    </script>
    {{/ifpage}}

    {{#ifpage 'setting-shop'}}
    <script>
      function tambahFoto() {
        var count = 2;
        $('.shop-add-img-upload').click(function () {
            $('.shop-img-upload--wrapper').prepend('<div class="medium-3 cell"><div class="text-center ms-img-upload__container shop-img-upload__container"><p class="ms-no-margin">Klik untuk<br />unggah gambar</p><i class="fa fa-image"></i><p class="ms-no-margin">JPG, JPEG, PNG<br />Max 2Mb</p><input class="ms-no-margin ms-input__file" type="file" set-to="img-ktp-'+count+'" /><img id="img-ktp-'+count+'" class="ms-img-upload" src="#" alt=""></div></div>');
            count++;

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var img_id = $(input).attr('set-to');

                    reader.onload = function(e) {
                        $('#'+img_id).attr('src', e.target.result);
                        $('#'+img_id).css('visibility', 'visible');
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('.ms-input__file').change(function() {
                readURL(this);
                $(this).parent().find('p, i').css('visibility','hidden');
                $(this).css('z-index', 1);
            });
        });
      }
    </script>
    {{/ifpage}}

  </body>
</html>